g*.pyc
slurm*.out
*~
*.swp
\#*
.\#*
~$*
.tmp.driveupload
.DS_Store
.idea
.ipynb_checkpoints/
__pycache__/
/include
/lib
/local
/share
/temp
/bigfiles
/allt-thyskaland/kerg
/allt-thyskaland/matlab/*.png
/allt-thyskaland/matlab/*.mat
/backend/*.xlsx
/pardir/
/sensitivity/results/
/pip-selfcheck.json
/backend/logs/*.log
/vue-frontend/node_modules
/vue-frontend/package-lock.json
/vue-frontend/static/js/bundle.js
