g*.pyc
slurm*.out
*~
*.swp
\#*
.\#*
~$*
.tmp.driveupload
.DS_Store
.idea
.ipynb_checkpoints/
__pycache__/
/doc/leiðbeiningar.docx
/pardir/
/backend/*.xlsx
/.venv/
/vue-frontend/node_modules
/vue-frontend/static/js/bundle.js
/vue-frontend/static/js/*.LICENSE.txt
