click
Flask~=2.1.3
Flask-Cors
itsdangerous
tabulate
six
Werkzeug~=2.2.0
xlsxwriter~=3.0.3
openpyxl
configparser~=5.2.0
numpy~=1.23.1
matplotlib~=3.5.3
psutil~=5.9.1
pathos~=0.2.9
pandas~=1.4.3
gurobipy
frozendict~=2.3.4