p {margin-left: 15px}

h2 {
  margin-left: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  margin-left: 15px;
}

.votematrix {
  display: block;
  table-layout: auto;
  /* overflow-x: auto; */
  white-space: nowrap;
  /* min-width: 100px; */
  /* min-height: 100px; */
  margin-top: 0.7em;
}

.votematrix tr:nth-child(even) {
  background-color: #f2f2f2;
}

.votematrix th, .votematrix td {
  border:   1px solid #ccc;
  padding:  2px 4px;
}

.votematrix th input, .votematrix td input {
  padding: 2px;
  background: none;
}

.votematrix th input {
  font-weight: bold;
}

th.seatnumberheading {
  padding: 4px 6px; /* to match padding of input + padding of cell */
  font-weight:    bold;
}

.ruleset {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1.5em;
}

th.topleft {
  border-top: 0px !important;
  border-left: 0px !important;
  /* border-bottom: 0px !important; */
  text-align: center;
  background-color: #fff;
}

.tablename {
  border: 0;
}

.constname input, .tablename input {
  border:         0;
  outline:        0;
}

.partyseats input {
  border:         0;
  outline:        0;
  text-align:     right;
}

.partyvotes input, .partyname input {
  /* width:          70px; */
  border:         0;
  outline:        0;
  text-align:     right;
}

.partyname input:hover, .partyname input:focus,
.constname input:hover, .constname input:focus,
.partyseats input:hover, .partyseats input:focus,
.partyvotes input:hover, .partyvotes input:focus,
.tablename input:hover, .tablename input:focus {
  background:     #ddd;
}

.growtable {
  border: 0px !important;
  background-color: #fff;
}

.v-tooltip__content {
  font-size: 100px !important;
}

.resultmatrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.resultmatrix th {
  font-weight:    bold;
}

.resultmatrix td, .resultmatrix th {
  border:         1px solid #ccc;
}

.resultmatrix {
  margin-bottom: 1em;
}

.demomatrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.demomatrix th {
  font-weight:    700;
}

.demomatrix td, .demomatrix th {
  border:         1px solid #ccc;
  text-align:     center;
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    5px;
  padding-bottom: 5px;
}

.demomatrix td:nth-child(4) {
  text-align: left;
}

.demomatrix {
  margin-bottom: 1em;
}

.displaytablename {
  text-align: center;
}

.displaypartyname {
  /* width:          70px; */
  min-width:      50px;
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     center;
  background:     none;
}

.displayconstname {
  border:         0;
  outline:        0;
  padding:        8px;
  text-align:     left;
  min-width:      60px;
  background:     none;
}

.displaypartyseats {
  /* width:          70px; */
  border:         0;
  outline:        0;
  padding:        5px;
  text-align:     right;
  background:     none;
}

.simulationdata tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simulationdata th {
  font-weight:    700;
}

.simulationdata td, .simulationdata th {
  border:         1px solid #ccc;
}

.simulationdata {
  margin-bottom: 1em;
}

.measurename {
  border:         0;
  outline:        0;
  padding:        5px;
  background:     none;
}

.methoddata, .methodname {
  width:          150px;
  border:         0;
  outline:        0;
  padding:        5px;
  text-align:     center;
  background:     none;
}
