p {
  margin-left: 15px;
}

td {
  font-variant-numeric: tabular-nums;
}  

.navbar-brand {
  font-size:1.5rem !important;
  padding: 0px     !important;
}

h2 {
  margin-left: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  margin-left: 15px;
}

th {
  text-align: center;
  font-weight: bold;
}

/***************************************************/

.votematrix {
  display: block;
  table-layout: auto;
  white-space: nowrap;
  margin-top: 0.0em;
}

.votematrix tr:nth-child(even) {
  background-color: #f2f2f2;
}

.votematrix th, .votematrix td {
  padding:  3px 4px; /* top/bottom, left/right */
  border:   1px solid #ccc;  
}

.tablename {
  border: 0;
  font-weight:bold;
  margin-top:-4px;
  font-size:110%;
}

.text-input {
  width:100%;
}

.votematrix th input, .votematrix td input {
  padding: 1px 2px;
  background: none;
}

.votematrix th input {
  font-weight: bold;
  background: none;
}

.constname input, .tablename input, .partyname input {
  border:         0;
  background: none;
}

.numerical input {
  border:         0;
  text-align:     right;
  background:     none;
}  

td.displayleft, th.displayleft {
  text-align: left;
  padding:    4px 6px;
}

td.displaycenter, th.displaycenter {
  padding:        4px 6px;
  text-align:     center;
}

td.displayright, th.displayright {
  padding:  4px 6px; /* to match padding of input + padding of cell */
  text-align:   right;
}

th.seatnumberheading {
  padding: 4px 6px; /* to match padding of input + padding of cell */
  font-weight:    bold;
}

.ruleset {
  background: #eee;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 1.5em;
}

th.topleft {
  border-bottom:0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  /* border-bottom: 0px !important; */
  text-align: center;
  background-color: #fff;
}

.partyname, .constname, .numerical, .tablename {
  border: 0px;
}

.red {
  color: red;
}

.numerical input:hover, .numerical input:focus,
.partyname input:hover, .partyname input:focus,
.constname input:hover, .constname input:focus,
.tablename input:hover, .tablename input:focus {
  border:         0px;
  background:     #fff;
}

.growtable {
  border: 0px !important;
  background-color: #fff;
}

/*********************************************************/

.resultmatrix tr:nth-child(even) {
    background-color: #f2f2f2;
}

.resultmatrix th {
  text-aligin:    center;
  font-weight:    bold;
}

.resultmatrix td, .resultmatrix th {
  border:      1px solid #ccc;
  white-space: nowrap
}

.resultmatrix {
  table-layout:  auto
  margin-bottom: 1em;
}

.demomatrix tr:nth-child(even) {
  background-color: #f2f2f2;
}

.demomatrix td:nth-child(2) {
  text-align: left
}

.demomatrix th:nth-child(2) {
  text-align: left
}

.demomatrix th {
  white-space: wrap
  font-weight: 700;
}

.demomatrix td, .demomatrix th {
  border:         1px solid #ccc;
  text-align:     center;
  padding:        6px;
}

.demomatrix {
  table-layout: auto
  margin-bottom: 1em;
  padding:        6px;
}

.demomatrix .sup-headers th {
  text-align: left;
}

.displaytablename {
  text-align: center;
  padding:        6px;
}

.simulationdata tr:nth-child(even) {
  background-color: #f2f2f2;
}

.simulationdata th {
  font-weight:    700;
}

.simulationdata td, .simulationdata th {
  border:         1px solid #ccc;
}

.simulationdata {
  margin-bottom: 1em;
  table-layout: auto;
}

.measurename {
  border:         0;
  padding:        4px 6px;
  background:     none;
}

.methoddata, .methodname {
  /* width:          150px; */
  border:         0;
  padding:        6px;
  text-align:     center;
  background:     none;
}

measures {
  border: 0px;
  paddingss: 0px;
}

.noborder {
  border: 0
}
